<!DOCTYPE html>
<html>
  <head>
    <style>
      <%= main_css %>
      <%= ext_css %>
    </style>
    <script type="text/javascript">
      <%= ext_js %>
    </script>
  </head>

  <body>
    <div class="container">
      <h1>Cryptocurrency Market Capitalizations</h1>

      <table class="table table-striped table-dark">
        <thead>
          <tr>
            <th>rating</th>
            <th>name</th>
            <th>code</th>
            <th>price</th>
            <th>circulating_supply</th>
            <th>market_cap</th>
            <th>change</th>
            <th>created at</th>
          </tr>
        </thead>
        <tbody>
          <% all_data.each do |curr_data| %>
            <tr>
              <td><%= curr_data[:rating] %></td>
              <td><%= curr_data[:name] %></td>
              <td><%= curr_data[:code] %></td>
              <td><%= curr_data[:price] %></td>
              <td><%= curr_data[:circulating_supply] %></td>
              <td><%= curr_data[:market_cap] %></td>
              <td><%= curr_data[:change] %></td>
              <td><%= curr_data[:created_at] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>





